* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  color: rgb(102, 102, 102);
  font-size:14px;
    font-family: "Microsoft YaHei", arial, SimSun, 宋体;
}

a {
  text-decoration: none;
  color: inherit;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.cl {
  clear: both;
}

.m5 {
  margin: 5px;
}

.mr30 {
  margin-right: 30px;
}

.mt20 {
  margin-top: 20px;
}

.tag {
  margin-right: 14px;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  font-size: 14px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  color: #ffffff;
}

.tag-small {
  line-height: 24px;
  height: 24px;
  padding: 0px 12px;
  font-size: 12px;
}

.el-loading-mask{
  background: rgba(238,238,238,.5);
}

.el-message{
  top: 70px;
}
.el-message__img {
  top: 50%;
  transform: translateY(-50%);
}
.el-message__group {
  min-height:20px;
  height:auto!important;
  height: 20px;
}
.el-message__group .el-message__closeBtn {
  color: #ffffff;
}
.el-message__group p {
  max-width: 500px;
  white-space: pre-wrap;
  color: #ffffff;
}



/* 滚动条css scrollbar */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


/* Turn on single button up on top, and down on bottom */

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
}


/* Turn off the down area up on top, and up area on bottom */

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}

::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:horizontal:end:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement {
    background: url(../assets/scroll.png) no-repeat;
}
/*竖向滚动条-下方按钮*/

::-webkit-scrollbar-button:vertical:end:increment {
    width: 6px;
    height: 6px;
    background-position: -2px -10px;
}


/*竖向滚动条-下方按钮-悬浮样式*/

::-webkit-scrollbar-button:vertical:end:hover {
    background-position: -1px 0px;
}


/*竖向滚动条-上方按钮*/

::-webkit-scrollbar-button:vertical:start:decrement {
    background-position: -12px -12px;
    height: 6px;
    width: 6px;
}


/*竖向滚动条-上方按钮-悬浮样式*/

::-webkit-scrollbar-button:vertical:start:hover {
    background-position: -12px -2px;
}


/*竖向滚动条顶部背景 */

::-webkit-scrollbar-track-piece:vertical:start {
    background: #fff;
}


/* 竖向滚动条底部背景 */

::-webkit-scrollbar-track-piece:vertical:end {
    background: #fff;
}


/* 竖向滚动条*/

::-webkit-scrollbar-thumb:vertical {
    background: #ccd5d9;
    border-radius: 4px;
}


/* 竖向滚动条-悬浮样式*/

::-webkit-scrollbar-thumb:vertical:hover {
    background: #a7d9f8;
}


/* Place The scroll down button at the bottom */

::-webkit-scrollbar-button:horizontal:end:decrement {
    background-position: -30px -11px;
    height: 6px;
}

::-webkit-scrollbar-button:horizontal:end:hover {
    background-position: -30px -1px;
}


/*横向滚动条-右边按钮 */

::-webkit-scrollbar-button:horizontal:end:increment {
    background-position: -31px -11px;
    height: 6px;
    width: 6px;
}


/*横向滚动条-左边边按钮*/

::-webkit-scrollbar-button:horizontal:start:decrement {
    background-position: -23px -11px;
    width: 6px;
}


/*横向滚动条-左边边按钮-悬浮样式*/

::-webkit-scrollbar-button:horizontal:start:hover {
    background-position: -23px -1px;
}


/* 横向滚动条背景-左边背景 */

::-webkit-scrollbar-track-piece:horizontal:start {
    background: #fff;
}


/* 横向滚动条背景-右边背景 */

::-webkit-scrollbar-track-piece:horizontal:end {
    background: #fff;
}


/* The thumb itself */

::-webkit-scrollbar-thumb:horizontal {
    background: #ccd5d9;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background: #a7d9f8;
}



.touch-ripple {
  display: block;
  overflow: hidden;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /*Forces webkit to properly contain content within border-radius*/
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}

.touch-ripple .ripple {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 50%;
  background-color: currentColor;
  background-clip: padding-box;
  opacity: 0.2;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
  -webkit-transition: opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

.touch-ripple .ripple.held {
  opacity: 0.4;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.touch-ripple .ripple.done {
  opacity: 0!important;
}
